show_animation=false
entity_start_health=10000
entity_standard_health_loss_per_tick=10
entity_reproduction_goal=2000
barriers_start_amount=2000
plants_start_amount=100
prey_start_amount=100
predators_start_amount=100
tick_delay=10
max_step_size=5
max_ticks_per_generation=500
init_hidden_layers=2
init_neurons_per_hidden_layer=32
init_mutations=10
offspring_mutations=1