show_animation=false
training_mode=false
entity_start_health=10000
entity_standard_health_loss_per_tick=10
entity_reproduction_goal=2000
prey_start_amount=30
predators_start_amount=30
tick_delay=10
max_step_size=5
max_ticks_per_generation=2000
init_hidden_layers=2
init_neurons_per_hidden_layer=32
init_mutations=10
offspring_mutations=1
